*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    width: 50%;
    margin: 20px auto;
}
.container{
    width: 50%;
    height: 700px;
    margin: 0 auto;
}

.header{
    height: 10%;

}

.header li{
    /* Bỏ dấu chấm thẻ li */
    list-style-type:none ;
    display: flex;
   width: 100px;
   height: 30px;
   justify-content: center;
   align-items: center;
}
.header h1{
    display: flex;
    justify-content: center;
   padding-top: 10px ;
   font-family: 'Dancing Script', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
.header li:hover{
    background-color: brown;
}
.header a{
    /* BỎ gạch chân thẻ a */
    text-decoration: none;
}
.header ul{
    display: flex;
    background-color: blueviolet;
}
.main-container{
    height: 80%;
    display: flex;
}

.main-container .main-conten{
    flex: 3;
}

.main-container  .side-bar{
    flex: 3;
    background-image: url('../img/techzones-apple-watch-series-5-hermes-1.jpg');
    background-size: cover;
    background-position: center;
}

.footer{
    height: 10%;
    display: flex;
    justify-content: center;
}
