*{
    color:crimson;
    font-size: larger;
}
.header{
    background-color: blueviolet;
    color: burlywood;
}
div{
    background-color: darkcyan;
}
#myname{
    background-color: blue;
}
co

/* //css select  */